<div class="row margin-bottom">
    <div class="col-lg-12">
        <div class="input-group main-search-input" style="margin:0">
            <input type="text" class="form-control" placeholder="Enter book name..." ng-model="searchInput">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 padding-right-none">
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="category in categories">
                    {{ category.name }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">Available Books</div>
            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="book in books | filter:searchInput">
                    <td>{{ book.title }}, {{ book.author }}</td>
                    <td style="width:100px;text-align:right;">
                        <a href="#" class="btn btn-primary btn-xs" role="button">
                            <span class="glyphicon glyphicon-download-alt"></span> Download
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>