/target/
.classpath
.project
.settings
/bin/
/src/main/resources/hibernate.cfg.xml
/src/main/resources/application.properties
/src/main/webapp/lucene_index
/src/main/webapp/lucene_storage
/src/main/webapp/lucene_temp

.idea
*.iml
