<div class="modal fade" id="addLanguageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Language</h4>
            </div>
            <div class="modal-body">

                <!-- Name -->
                <div class="row">
                    <div class="col-lg-12">
                        <label for="add-language-name">Name</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="add-category-name">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </span>
                            <input ng-model="language.name" type="text" id="add-language-name" class="form-control" describedby="add-language-name" placeholder="Name...">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="clickSaveLanguage()">Save</button>
            </div>
        </div>
    </div>
</div>