<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">

                    <!-- Username -->
                    <div class="input-group">
                        <span class="input-group-addon" id="changePassword-username-addon">
                            <span class=" glyphicon glyphicon-user"></span>
                        </span>
                        <input ng-model="changePassword_username" type="username" name="username" class="form-control" describedby="changePassword-username-addon"
                               placeholder="Username">
                    </div>

                    <!-- Old Password -->
                    <div class="input-group">
                                <span class="input-group-addon" id="changePassword-old-password-addon">
                                    <span class=" glyphicon glyphicon-lock"></span>
                                </span>
                        <input ng-model="changePassword_old_password" type="password" name="old_password" class="form-control" describedby="changePassword-old-password-addon"
                               placeholder="Password">
                    </div>

                    <!-- New Password -->
                    <div class="input-group">
                                <span class="input-group-addon" id="changePassword-new-password-addon">
                                    <span class=" glyphicon glyphicon-lock"></span>
                                </span>
                        <input ng-model="changePassword_old_password" type="password" name="old_password" class="form-control" describedby="changePassword-new-password-addon"
                               placeholder="Password">
                    </div>

                    <!-- New Password Again -->
                    <div class="input-group">
                                <span class="input-group-addon" id="changePassword-new-password-again-addon">
                                    <span class=" glyphicon glyphicon-lock"></span>
                                </span>
                        <input ng-model="changePassword_old_password" type="password" name="old_password" class="form-control" describedby="changePassword-new-password-again-addon"
                               placeholder="Password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="changePassword(changePassword_username, changePassword_password)">Authenticate</button>
                </div>
            </form>
        </div>
    </div>
</div>